body {
  background-color: black;
  color: white;
}

main {
  background-color: #333333;
  margin: 2em auto;
  border-radius: 5px;
  padding: 3em;
}

h1 {
  padding: 1em;
}

.inputs-container {
  margin: auto;
}

.input-data {
  display: block;
  margin: 8% auto;
  padding: 1em;
  border-radius: 5px;
  border: none;
}

.current-time {
  text-align: center;
  margin: 10% auto;
  animation: display-time 4s;
}

.clock-in-btn {
  display: block;
  margin: auto;
  padding: 1em 2.5em;
  border-radius: 5px;
  border: none;
}

.display-user-name {
  text-align: center;
  display: none;
}

.working-time {
  text-align: center;
  display: none;
}

.summary {
  text-align: center;
}

@keyframes display-time {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes effect-when-true {
  to {
    border: 0.5px solid #00ff00;
    box-shadow: 0 0px 10px #00ff00;
  }
}

.clock-in-true {
  animation: effect-when-true 0.5s forwards;
}

@keyframes effect-when-false {
  to {
    border: 1px solid #ff3300;
    box-shadow: 0 0px 10px #ff3300;
  }
}

.clock-in-false {
  animation: effect-when-false 1s forwards;
}

.display-working-time {
  animation: display-time forwards 1s;
}
